name: Manual Test run

on:
  workflow_dispatch:
    inputs:
      jahia_image:
        description: 'Jahia Image'
        required: true
        default: 'ghcr.io/jahia/jahia-ee-dev:8-SNAPSHOT'
      manifest:
        description: 'Provisioning manifest. Can be a local repository file in the tests folder or a publicly accessible link'
        required: true
        default: 'provisioning-manifest-snapshot.yml'

jobs:
  integration-tests-manual:
    name: Integration Tests manual run
    secrets: inherit
    uses: Jahia/jahia-modules-action/.github/workflows/reusable-integration-tests.yml@v2
    with:
      module_id: serverSettings
      jahia_image: ${{ github.event.inputs.jahia_image }}
      testrail_project: ServerSettings Module
      provisioning_manifest: ${{ github.event.inputs.manifest }}
      timeout_job: 45
      artifact_prefix: serset-manual
